<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conexaoSQL" connectionString="Server=.\SQLEXPRESS;Database=PDV_088;Integrated Security=SSPI;Persist Security Info=True;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>